.contact-heading{
  position: relative;
  overflow: hidden;
  padding: 60px 0px;
  background: #f9f9f9;
}

#main_contents{
	min-height:500px;
	padding:30px;
	font-size:0.85em;
	/* border:2px solid #737476; */
	background:#FFFFFF;
}
/* #main_contents:after{
	content:" ";
	display:block;
	position:absolute;
	top:-22px;
	right:-57px;
	width:100%;
	height:133px;
	background:url(../image/base/second_bg.png) no-repeat right 0;
} */

#main_contents p {
    margin-bottom: 10px;
    line-height: 1.75;
    font-size: 15px;
}
#position_box p,
#form_box p{
	margin:0px;
	padding:0px;
}

#position_box {
    margin: 20px 0 20px 0 !important;
    padding: 20px 20px 18px;
    background: #DDD;
}

#position_box ul {
    list-style: none;
    text-align: center;
}
#main_contents ul {
    padding-left: 20px;
}
#main_contents ul li {
    position: relative;
    line-height: 1.5;
    margin-bottom: 7px;
}

#position_box li.active span {
    border: 1px solid #007542;
    background: #007542;
    color: #FFF;
}

#position_box li span {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 7px 25px;
    border: 1px solid #007542;
    background: #FFF;
    color: #007542;
	font-size:15px;
}
#position_box li {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #007542;
}
.line-contact{
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 2px dotted rgba(0, 117, 66, 0.5);
}
#form_box table{
	position:relative;
	width:100%;
	margin-bottom:20px;
	border:none;
}
#form_box table th{
	width:300px;
	padding:10px 10px 7px 10px;
	font-weight:normal;
	background:#DDD;
	border:none;
	border-bottom:5px solid #FFF;
	color:#000000;
	text-align:left;
	font-size: 15px;
	}
#form_box table th span.required{
    float:right;
    display:inline-block;
    position:relative;
    top:-2px;
    height:20px;
    margin:0px 0 0 0;
    padding: 1px 8px 1px;
    font-size: 0.8em;
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    text-align:center;
    background:#007542;
    color:#FFF;
}
#form_box table td{
	padding:10px 20px;
	background:#EEEEEE;
	border:none;
	border-left:5px solid #FFF !important;
	border-bottom:5px solid #FFF !important;
	font-size: 15px;
}
#form_box table td span.ex{
	display:block;
	padding:0px 0 5px 0;
	font-size:0.95em;
	color:#777777;
}


#form_box .hide{
	display:none;
}

table{
	border-collapse:collapse;
	border-spacing:0px;
	border-top:1px solid #999;
	border-left:1px solid #999;
	line-height:2;
	}
	table th,
	table td{
		text-align:left;
		border-right:1px solid #999;
		border-bottom:1px solid #999;
		line-height:1.6;
	}
	table th{
		padding:5px 10px 3px 10px;
		text-align:center;
		background:#EEE;
		vertical-align:middle;
	}
	table td{
		padding:7px 10px 5px 10px;
		font-size:0.9em;
		background:#FFF;
}


/* input */
#form_box table td select,
#form_box table td input[type="text"],
#form_box table td textarea{
	padding:3px 4px;
	font-size:1em;
	background:#FFFFFF;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#form_box table td input[type="text"],
#form_box table td textarea{
	width:300px;
}
input[type="text"] {
	border:2px solid #EEEEEE;
	}
	input[type="text"]:focus {
		border:2px solid #007542;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		outline:0;
}
#zip,#zip2{
	width:80px !important;
}

/* textarea */
textarea {
	border: 2px solid #EEEEEE;
	}
	textarea:focus {
		border:2px solid #007542;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		outline:0;
}
/* radio */
#form_box table td input[type="radio"] {
	display:inline-block;
}
#form_box table td .plus_txt{
	margin-top:5px;
	font-size: 1.2em;
}

#form_box table td #comment{
	width:400px;
	min-height:120px;
}
#form_box #tour_box{
	display:none;
}
#form_box table td textarea{
    resize: none;  
}

#form_box #sub_btn{
	margin:0 0 15px !important;
	text-align:center;
	margin:0 auto;
}
.h_back{
	display:block;
	cursor:pointer;
	margin:0 auto;
}
/* confirm_table */
#form_box table.confirm_table{
	width:100%;
	margin-bottom:10px !important;
}
#form_box table.confirm_table th{
	font-weight:bold;
	background:#DDD;
	color:#444;
}
#form_box table.confirm_table td{
	background:#EEE;
	color:#444;
}
#form_box #confirm_btn{
	text-align:center;
	width:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 28px;                 /* khoảng cách giữa 2 nút */
	flex-wrap: wrap;           /* xuống hàng ở màn nhỏ */
	text-align: initial; 
}
#form_box #confirm_btn:after{
    content:" ";
    display:block;
    clear:both;
}
#form_box #confirm_btn img{
	display:inline-block;
	width:250px;
	height:50px;
	margin: 0 !important;
	padding: 0 !important;     /* xoá padding-left:15px gây lệch */
	border: 0;
	vertical-align: middle;
	line-height: 0;
}
#form_box #confirm_btn .submit{
	height:50px;
	margin: 0 !important;
	padding: 0 !important;     /* xoá padding-left:15px gây lệch */
	border: 0;
	vertical-align: middle;
	line-height: 0;
}
#form_box .errm{
	padding:0 0 20px 0;
}
#form_box .errm .red{
	color:#FF0000;
}

@media(max-width:768px){
	/* position_box */
	#position_box{
		padding:20px 0px 18px;
	}
	#position_box ul{
		padding:0px !important;
		}
		#position_box li{
			margin:0 0 0 0;
		}
		#position_box li span{
			margin:0 0 0 0;
			padding:3px 7px;
			font-size:0.8em;
	}

	#form_box table{
	}
	#form_box table th,
	#form_box table td{
		display:block;
		width:100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	#form_box table th{
		border-bottom:none !important;
	}
	#form_box table td{
		border-left:none !important;
		border-bottom:5px solid #FFF !important;
	}

    #form_box table td input[type="text"],
	#form_box table td textarea,
	#form_box table td #comment{
		width:100%;
	}
}
@media(max-width:480px){
	#main_contents:after{
		display:none !important;
	}
    	table th,
		table td{
			display:block;
	}
}